Repository tiagoposse/homecluster: changes, and which Drone steps are due for each by the changed paths.
All: certmanager, smallstep, dashboard, pipeline, ingress, museum, media, registry, secrets, dns, drone, dyndns, vault

certmanager:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

smallstep:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

dashboard:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

pipeline:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

ingress:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

museum:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

media:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

registry:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

secrets:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

dns:
  image: registry.tiagoposse.com/terraform:0.14.6
  commands:
  - export VAULT_TOKEN=$$(cat .vault-token)
  - export KUBE_HOST=https://$$KUBERNETES_SERVICE_HOST:$$KUBERNETES_SERVICE_PORT_HTTPS
  - export KUBE_TOKEN=$$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
  ...

drone:
  steps: null

dyndns:
  steps: null

vault:
  steps: null

add backups and psono, add ip limits to registry and museum, fix dashboard
  .drone.yaml
  backups/main.tf
  backups/providers.tf
  backups/vars.tf
  backups/vault/main.tf
  backups/vault/vars.tf
  certmanager/values.yml
  dashboard/k8s.tf
  dashboard/values.yml
  ingress/values.yml
  museum/values.yml
  pipeline/vault.tf
  psono/values.yml
  psono/vars.tf
  registry/registry.tf
  registry/values.yml
Due: certmanager, dashboard, pipeline, ingress, museum, registry

next
  backups/cronjob.yml
  backups/main.tf
  backups/photos/main.tf
  backups/photos/vars.tf
  backups/policies/encrypted-buckets.json
  media/main.tf
  media/storage.tf
  media/values.yml
  pipeline/vault.tf
  psono/vars.tf
  secrets/setup/setup.tf
  templates/vault/vault.tf
Due: pipeline, media, secrets

continuation
  .drone.yaml
  certmanager/.deploy
  certmanager/release.yml
  dashboard/.deploy
  dashboard/clusterrolebinding.yml
  dashboard/namespace.yml
  dashboard/release.yml
  dashboard/role.yml
  dashboard/rolebinding.yml
  esk/prod.yaml
  esk/values.yaml
  helm-operator/values.yml
  ingress/.deploy
  ingress/namespace.yml
  pipeline/externalsecrets.yaml
  pipeline/secretbindings.yaml
  registry/.deploy
  setup-k8s.sh
  smallstep/.deploy
  smallstep/release.yml
  vault/.gitignore
  vault/init-vault.sh
  vault/namespace.yaml
  vault/poststart.yaml
  vault/release.yaml
Due: certmanager, smallstep, dashboard, pipeline, ingress, registry

Add Flux v0.13.4 component manifests
  flux-system/gotk-components.yaml
Due: none

Add Flux sync manifests
  flux-system/gotk-sync.yaml
  flux-system/kustomization.yaml
Due: none

Path conditions:
  certmanager: any of: certmanager/**/*
  smallstep: any of: smallstep/**/*
  dashboard: (any of: dashboard/**/*) or (any of: dashboard/**/*.yml)
  pipeline: any of: pipeline/**/*
  ingress: (any of: ingress/**/*) or (any of: ingress/**/*.yml)
  museum: (any of: museum/**/*) or (any of: museum/**/*.yml)
  media: (any of: media/**/*) or (any of: media/**/*.yml)
  registry: (any of: registry/**/*) or (any of: registry/**/*.yml)
  secrets: any of: secrets/**/*
  dns: any of: dns/**/*
  drone: any of: drone/**/*.yml
  dyndns: any of: dyndns/**/*.yml
  vault: any of: vault/**/*.yml
